<container>
    <form class= "form form--1" name="contact" method="POST" data-netlify="true" action="/">
        <p>
        <label>Your Name: <input type="text" name="name" /></label>   
        </p>
        <p>
        <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
            <label>Professor's Last Name: <input type="text" name="Profname" /></label>
        </p>
        <p>
        <label>Course Code: <input type="text" name="courseCode" /></label>
        </p>
        <p>
        <label>Student Availability: <textarea name="availability"></textarea></label>
        </p>
        <p>
        <button type="submit">Send</button>
        </p>
    </form>
</container>  