<container class="card-deck">
    {% for page in site.data.tile.items %}

    <!-- TILE 1 -->
    <div class="col-md-4"> <!-- make the first column -->
        <div class="tile"> <!-- this is the first tile -->
    <!-- Below is the picture shown on the tile -->
        <img src= {{ page.img }}>
    <!-- a href is which page of the site the link will go to. note: full url not needed, adds it to end of url -->
    <!-- text inbetween > and </a> is what the link shows up as-->
        <h2><a href={{ page.url }}>{{ page.display_name }}</a></h2>
    <!-- This text is the summary of where the tile will take you -->
        <p class="tile-text">{{ page.abst }}</p>
    <!-- The read more button: -->
    <p class="tile-text"><a href={{ page.url }} class = "read-more-btn">Read More</a></p>
        </div> <!-- End first tile -->
    </div> <!-- End first column -->

    {% endfor %}

</container>
